.feynman__link {
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 48px;
  text-decoration: none;
  top: 50%;
  transition: opacity 0.3s ease;
}

.feynman__link:hover {
  opacity: 0.7;
}